//Microsoft Developer Studio generated resource script.
//

#include "resource.h"
#include "../../predefine.h"


#ifndef _VC80_UPGRADE
1                       24      DISCARDABLE     "manifest"
#endif


// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
RMX_ICON_LARGE_XP       ICON    DISCARDABLE     "../../resources/icons/rmx.ico"
RMX_ICON_UNINSTALL_XP   ICON    DISCARDABLE     "../../resources/icons/uninstall.ico"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION _APP_INFO
 PRODUCTVERSION _APP_INFO
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x21L
#else
 FILEFLAGS 0x20L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "RMX Automation - Visit http://rmx.sourceforge.net/ for more details\0"
            VALUE "CompanyName", "Vincent E. Milum Jr.\0"
            VALUE "FileDescription", "RMX Automation\0"
            VALUE "FileVersion", _APP_VERSION "\0"
            VALUE "InternalName", "RM-X Automation\0"
            VALUE "LegalCopyright", "Copyright © 2003-2007 Vincent E. Milum Jr.\0"
            VALUE "ProductName", "RM-X Automation\0"
            VALUE "ProductVersion", "RM-X Automation " _APP_VERSION "\0"
            VALUE "SpecialBuild", "Gaming Edition\0"
            VALUE "OriginalFilename", "engine.exe\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
